/* =========================
   PAGE WRAPPER
========================= */
.stock-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* =========================
   CARD
========================= */
.stock-card,
.table-card {
    background: #fff;
    border: 1px solid #d8e0dc;
    margin: 30px;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.06);
}

/* =========================
   HEADER
========================= */
.card-header
 {
    background: #f1f3f5;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid #dce3df;
    padding-bottom: 15px;
}

.table-header{

     display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    border-bottom: 1px solid #dce3df;
    padding-bottom: 15px;

}

.header-icon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: #105c3a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.header-text h3,
.table-header h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #105c3a;
}

/* =========================
   FORM GRID
========================= */
.form-grid {
    display: grid;
    margin: 25px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    row-gap: 10px;
    column-gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: 1 / -1;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #105c3a;
}

.form-group label span {
    color: red;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 12px 14px;
    font-size: 14px;
    transition: .3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #105c3a;
    box-shadow: 0 0 0 0.15rem rgba(25,135,84,.15);
    outline: none;
}

.form-group textarea {
    min-height: 120px;
    resize: vertical;
}

/* =========================
   ERROR
========================= */
.text-danger {
    margin-top: 5px;
    font-size: 13px;
}

/* =========================
   FILTER BAR
========================= */

.filter-bar {
    display: flex;

    align-items: center;

    gap: 14px;

    flex-wrap: wrap;

    /* background: #f8fafc; */
    background: #e2e8f0;

    padding: 18px;

    border-radius: 14px;

    margin-bottom: 24px;
}

/* SEARCH */

.search-box {
    position: relative;

    flex: 1;

    min-width: 220px;
}

.search-box i {
    position: absolute;

    top: 50%;
    left: 15px;

    transform: translateY(-50%);

    color: #105c3a;
}

.search-box input {
    width: 100%;

    height: 48px;

    border: 1px solid #d1d5db;

    border-radius: 12px;

    padding: 0 14px 0 42px;

    outline: none;

    background: #fff;

    transition: 0.3s;
}

.search-box input:focus {
    border-color: #105c3a;

    box-shadow: 0 0 0 4px rgba(16, 92, 58, 0.1);
}

/* FILTER INPUT */

.filter-input {
    height: 48px;

    min-width: 180px;

    border: 1px solid #d1d5db;

    border-radius: 12px;

    padding: 0 14px;

    outline: none;

    background: white;

    transition: 0.3s;
}

.filter-input:focus {
    border-color: #105c3a;

    box-shadow: 0 0 0 4px rgba(16, 92, 58, 0.1);
}

/* FILTER BTN */

.filter-btn {
    background: #105c3a;

    color: white;

    border: none;

    border-radius: 10px;

    padding: 12px 18px;

    font-weight: 600;

    transition: 0.3s;
}

.filter-btn:hover {
    background: #0d4b2f;
}

/* FILTER BUTTON */

.filter-btn {
    height: 48px;

    background: #105c3a;
    color: white;

    border: none;
    border-radius: 12px;

    padding: 0 20px;

    font-size: 14px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: 0.2s;
}

.filter-btn:hover {
    background: #157347;
}
/* =========================
   TABLE
========================= */
.custom-table {
    margin-bottom: 0;
}

.custom-table thead {
    background: #eef2f1;
}

.custom-table tbody tr{
    transition: all 0.2s ease;
}

.custom-table tbody tr:hover{
    background: #f0fdf4;
    cursor: pointer;
    /* box-shadow: inset 4px 0 0 #105c3a; */
}

.custom-table th {
    font-size: 15px;
    padding: 14px;
    font-weight: 600;
    color: #105c3a;
    border-bottom: 2px solid #dee2e6;
}

.custom-table td {
    font-size: 14px;
    padding: 14px;
    vertical-align: middle;
    color: #36454F;
}

/* =========================
   BADGE
========================= */
.badge {
    padding: 8px 12px;
    border-radius: 20px;
}

/* =========================
   ACTION BUTTONS
========================= */
.action-buttons {
    margin: 25px;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.save-btn {
    background: #105c3a;
    color: white;
    border: 1px solid #105c3a;
    border-radius: 8px;
    padding: 8px 18px;
    transition: 0.2s;
}

.save-btn:hover {
    background: white;
    color: #105c3a;
    border: 2px solid #105c3a;
}

.cancel-btn {
    background: white;
    color: #105c3a;
    border: 2px solid #105c3a;
    border-radius: 8px;
    padding: 8px 18px;
    transition: 0.2s;
}

.cancel-btn:hover {
    background: #105c3a;
    color: white;
}

.action-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-btn,
.action-icons button {
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

/* EDIT */

.edit-btn {
    color: #d97706;
    background: #fef3c7;
}

.edit-btn:hover {
    background: #facc15;
    transform: translateY(-2px);
    /* background:#105c3a; */
    color: white;
}

/* DELETE */

.delete-btn {
    background: #fee2e2;
    color: #dc2626;
}

.delete-btn:hover {
    transform: translateY(-2px);
    background: #dc2626;
    color: white;
}
.error-border {
    border-color: #dc3545 !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.error-text {
    color: #dc3545;
    font-size: 0.8rem;
    margin-top: 0.25rem;
    display: block;
}
/* =========================
   STATUS TOGGLE
========================= */

.status-toggle{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 50px;
}

.toggle-label{
    width: 58px;
    height: 30px;
    background: #cbd5e1;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-circle{
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.3s;
}

#status:checked + .toggle-label{
    background: #105c3a;
}

#status:checked + .toggle-label .toggle-circle{
    left: 30px;
}

.status-text{
    font-weight: 600;
    color: #105c3a;
    transition: 0.3s;
}
/* =========================
   RESPONSIVE
========================= */
@media(max-width:768px){

    .filter-bar{
        flex-direction: column;
    }

    .filter-input,
    .filter-btn,
    .search-box{
        width:100%;
    }

    .action-buttons{
        flex-direction: column;
    }

    .cancel-btn,
    .save-btn{
        width:100%;
        text-align:center;
    }
}