/* =========================
   GLOBAL
========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #f4f7fb;
}

/* =========================
   WRAPPER
========================= */

.school-wrapper{
    width: 100%;
    padding: 28px;
}

/* =========================
   CARD
========================= */

.school-card,
.table-card{
    width: 100%;
    max-width: 1150px;

    margin: 0 auto 26px auto;

    /* background: #eef2f7; */

    /* background: #f8fafc; */

    background: #fff;

    border-radius: 18px;

    padding: 24px;

    box-shadow:
        0 2px 6px rgba(15,23,42,0.04),
        0 12px 28px rgba(15,23,42,0.05);
}

/* =========================
   HEADER
========================= */

.table-header{
    background: #f1f5f9;

    padding: 15px 18px;

    border-radius: 14px;

    margin-bottom: 24px;

    position: relative;

    overflow: hidden;
}

.table-header::before{
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 5px;
    height: 100%;

    background: #105c3a;
}

.table-header h4{
    color: #105c3a;

    font-size: 24px;

    font-weight: 700;

    display: flex;

    align-items: center;

    gap: 10px;
}

/* =========================
   FORM
========================= */

.form-grid{
    width: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr;

    row-gap: 5px;

    column-gap: 30px;


}

.form-group{
    display: flex;

    flex-direction: column;

    gap: 8px;
}

.form-group label{
    color: #334155;

    font-size: 15px;

    font-weight: 600;
}

.form-group label span{
    color: #dc2626;
}

/* =========================
   INPUT
========================= */

.form-group input,
.form-group textarea{
    width: 100%;

    border: 1px solid #cbd5e1;

    background: white;

    border-radius: 12px;

    outline: none;

    transition: 0.2s;
}

/* TEXT INPUT */

.form-group input{
    height: 50px;

    padding: 0 15px;
}

/* TEXTAREA */

.form-group textarea{
    height: 50px;

    padding: 14px 15px;

    resize: none;
}

/* FOCUS */

.form-group input:focus,
.form-group textarea:focus{
    border-color: #105c3a;

    box-shadow: 0 0 0 4px rgba(16,92,58,0.10);
}

/* =========================
   ERROR
========================= */

.error-text{
    min-height: 16px;

    color: #dc2626;

    font-size: 13px;
}

.input-error{
    border: 1px solid #dc2626 !important;

    box-shadow: 0 0 0 4px rgba(220,38,38,0.10);
}

/* =========================
   BUTTONS
========================= */

.action-buttons{
    width: 100%;

    display: flex;

    justify-content: flex-end;

    gap: 12px;
}

.save-btn,
.reset-btn{
    border: none;

    border-radius: 10px;

    padding: 11px 20px;

    font-weight: 600;

    transition: 0.2s;

    display: flex;

    align-items: center;

    gap: 8px;
}

/* SAVE */

.save-btn{
    background: #105c3a;

    color: white;
}

.save-btn:hover{
    background: #0d4b2f;
}

/* RESET */

.reset-btn{
    background: white;

    color: #105c3a;

    border: 1px solid #105c3a;
}

.reset-btn:hover{
    background: #105c3a;

    color: white;
}

/* =========================
   FILTER BAR
========================= */

.filter-bar {
    display: flex;

    align-items: center;

    gap: 14px;

    flex-wrap: wrap;

    /* background: #f8fafc; */
    background: #e2e8f0;

    padding: 18px;

    border-radius: 14px;

    margin-bottom: 24px;
}

/* SEARCH */

.search-box{
    position: relative;

    flex: 1;
}

.search-box i{
    position: absolute;

    left: 15px;
    top: 50%;

    transform: translateY(-50%);

    color: #105c3a;
}

.search-box input{
    width: 100%;

    height: 48px;

    border: 1px solid #cbd5e1;

    background: white;

    border-radius: 12px;

    padding-left: 42px;

    outline: none;
}

.search-box input:focus{
    border-color: #105c3a;

    box-shadow: 0 0 0 4px rgba(16,92,58,0.10);
}

/* FILTER INPUT */

.filter-input{
    width: 210px;

    height: 48px;

    border: 1px solid #cbd5e1;

    background: white;

    border-radius: 12px;

    padding: 0 14px;

    outline: none;
}

.filter-input:focus{
    border-color: #105c3a;

    box-shadow: 0 0 0 4px rgba(16,92,58,0.10);
}

/* DATE */

input[type="date"]{
    width: 170px;
}

/* FILTER BUTTON */

.filter-btn{
    height: 48px;

    padding: 0 20px;

    border: none;

    border-radius: 12px;

    background: #105c3a;

    color: white;

    font-weight: 600;

    transition: 0.2s;
}

.filter-btn:hover{
    background: #0d4b2f;
}

/* =========================
   TABLE
========================= */

.table-responsive{
    overflow-x: auto;
}

table{
    width: 100%;

    border-collapse: collapse;
}

table thead{
    background: #dbe4ee;
}

table th{
    padding: 15px;

    text-align: left;

    color: #105c3a;

    font-size: 15px;

    font-weight: 700;
}

table td{
    padding: 15px;

    border-bottom: 1px solid #dbe4ee;

    color: #475569;

    font-size: 14px;
}

table tbody tr{
    transition: 0.2s;
}

table tbody tr:hover{
    background: #f8fafc;
}

/* =========================
   STATUS
========================= */

.status-badge{
    padding: 7px 14px;

    border-radius: 10px;

    font-size: 14px;

    font-weight: 700;
}

.active-badge{
    background: rgba(16,92,58,0.12);

    color: #105c3a;
}

/* =========================
   ACTION
========================= */

.action-icons{
    display: flex;

    align-items: center;

    gap: 10px;
}

.action-btn,
.delete-btn{
    width: 38px;
    height: 38px;

    border: none;

    border-radius: 10px;

    display: flex;

    align-items: center;

    justify-content: center;

    transition: 0.2s;
}

/* EDIT */

.edit-btn{
    background: #fef3c7;

    color: #d97706;
}

.edit-btn:hover{
    background: #facc15;

    color: white;
}

/* DELETE */

.delete-btn{
    background: #fee2e2;

    color: #dc2626;
}

.delete-btn:hover{
    background: #dc2626;

    color: white;
}

/* =========================
   STATUS TOGGLE
========================= */

.status-toggle{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 50px;
}

.toggle-label{
    width: 58px;
    height: 30px;
    background: #cbd5e1;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-circle{
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.3s;
}

#status:checked + .toggle-label{
    background: #105c3a;
}

#status:checked + .toggle-label .toggle-circle{
    left: 30px;
}

.status-text{
    font-weight: 600;
    color: #105c3a;
    transition: 0.3s;
}

.readonly-input{
    background: #e8f5e9 !important;
    color: #475569;
    cursor: not-allowed;
    font-weight: 600;
}
/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){

    .form-grid{
        grid-template-columns: 1fr;
    }

    .filter-bar{
        flex-wrap: wrap;
    }

}

@media(max-width:768px){

    .filter-bar{
        flex-direction: column;

        align-items: stretch;
    }

    .search-box,
    .filter-input,
    .filter-btn,
    input[type="date"]{
        width: 100%;
    }

}
